services:
  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: Td5yL7ljBf5aL3

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8801:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:Td5yL7ljBf5aL3@mongo:27017/
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongo

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    environment:
      MONGO_URL: mongodb://root:Td5yL7ljBf5aL3@mongo:27017/
      PORT: 8080
      DEV_MODE: development
      JWT_SECRET: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
    depends_on:
      - mongo

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    restart: always
    tty: true
    ports:
      - "3000:3000"
    environment:
      REACT_APP_BASEURL: http://backend:8080/api/v1
    depends_on:
      - backend